<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318312832931-uj9m5v9kbe300f34p3a9ltf3lq5sb0mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318312832931-uj9m5v9kbe300f34p3a9ltf3lq5sb0mp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>318312832931-2jsf0ssdjha5gihn7k19fliitl46tvar.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaT1XPoSjaNBIrZTFQmdaDZWkeiQgRLHU</string>
	<key>GCM_SENDER_ID</key>
	<string>318312832931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>findyourperfectmatch-47dd5</string>
	<key>STORAGE_BUCKET</key>
	<string>findyourperfectmatch-47dd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318312832931:ios:87bb4c71946e527508c416</string>
</dict>
</plist>